.bottom-bar {
    position absolute
    bottom 0
    left $generalPaddingX
    right $generalPaddingX
    display flex
    align-items flex-end
    justify-content center

    img{
        transform: scale(97%)
    }
}