.bottom-bar {
    position absolute
    bottom -1px
    left $generalPaddingX
    right $generalPaddingX
    display flex
    align-items flex-end
    justify-content center

    img{
        transform: scale(97.25%)
    }
}