.sidebar {
	position absolute
	bottom $generalPaddingY

	filter drop-shadow(0 0 .4rem rgba(#000, .5))
	transition transform .5s ease

	&.--left {
		left $generalPaddingX
	}

	&.--right {
		right $generalPaddingX

		.economy,
		.utility {
			margin-left auto
		}
	}

	&.--series-active {
		$seriesHeight = 21rem
		transform translateY(-($seriesHeight + 1rem))
	}

	.rightAd {
		position relative
		right 2px
		margin-left auto
		transition transform .5s ease
		width calc(22.5ch + 2rem  + 16rem)
		&:not(.--active) { //Moves down to match when money leaves
			transform translateY(62.5%)
		}
	}

	.rightAdBox {
		position absolute
		top 6%
		right 6%
		transform scale(0.8)
	}

	@keyframes SidebarImageOne {
		0% {
			opacity:1;
		}
		48.5% {
			opacity:1;
		}
		51.5% {
			opacity:0;
		}
		100% {
			opacity:0;
		}
	}
	@keyframes SidebarImageTwo {
		0% {
			opacity:0;
		}
		48.5% {
			opacity:0;
		}
		51.5% {
			opacity:1;
		}
		100% {
			opacity:1;
		}
	}

	//@keyframes SidebarImageThree {
	//	0% {
	//		opacity:0;
	//	}
	//	66.5% {
	//		opacity:0;
	//	}
	//	67.5% {
	//		opacity:1;
	//	}
	//	100% {
	//		opacity:1;
	//	}
	//}

	//.amazonUniEsports{
	//	animation-name: SidebarImageTwo;
	//	animation-timing-function: ease-in-out;
	//	animation-iteration-count: infinite;
	//	animation-duration: 30s;
	//	animation-direction: alternate;
	//	transform scale(0.6)
	//	right -26%
	//	top 4%
	//}

	.omen {
		animation-name: SidebarImageOne;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		animation-duration: 20s;
		animation-direction: alternate;
		top -17%
		right 10%
	}

	.primeStudent {
		animation-name: SidebarImageTwo;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		animation-duration: 20s;
		animation-direction: alternate;
		transform scale(0.3)
		right -45%
		top -68%
	}



	.economy,
	.utility {
		width 70.75% // TODO should probably not be hardcoded
	}

	@require 'sidebar/economy'
	@require 'sidebar/player'
	@require 'sidebar/utility'
}
